In [7]:
"""
Q1. Write a Python program to:
• Create a list of 5 integers.
• Add a new element at the end.
• Remove the second element.
• Print the final list.
"""

my_list = [1, 2, 3, 4, 5]
my_list.append(35)
del my_list[1]
print(my_list)

[1, 3, 4, 5, 35]

In [11]:
"""
Q2. Given a list, numbers = [5, 2, 8, 1, 9], write a program to:
• Sort the list in ascending order.
• Find the sum of all elements.
• Reverse the sorted list.
"""

numbers = [5, 2, 8, 1, 9]
numbers.sort()
print(numbers)

[1, 2, 5, 8, 9]

In [13]:
summation = sum(numbers)
print(summation)

25

In [15]:
numbers.sort(reverse = True)
print(numbers)

[9, 8, 5, 2, 1]

In [22]:
"""
Q3. Given a tuple, colors = ("red", "green", "blue"), write a program to:
• Convert the tuple into a list, add "yellow", then convert it back to a tuple.
"""
colors = ("red", "green", "blue")
listcolours = list(colors)
listcolours.append('yellow')
print(listcolours)

['red', 'green', 'blue', 'yellow']

In [24]:
tuplecolours = tuple(listcolours)
print(tuplecolours)

('red', 'green', 'blue', 'yellow')

In [33]:
"""
Q4. Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), write a program to:
• Concatenate them.
• Repeat the first tuple 3 time
"""
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

repetation = tuple1*3
print(repetation)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
"""
Q5. Given a dictionary student = {"name": "Alice", "age": 21, "grade": "A"}, write a program to:
• Update the age to 22.
• Add a new key-value pair "course": "Computer Science".
• Remove the "grade" key
"""
student = {"name": "Alice", "age": 21, "grade": "A"}
student['age'] = 22
student['course']= 'Computer Science'
del student['grade']
print(student)

{'name': 'Alice', 'age': 22, 'course': 'Computer Science'}

In [43]:
"""
Q6. Write a program to merge two dictionaries:
dict1 = {"a": 1, "b": 2} 
dict2 = {"c": 3, "d": 4}
"""
dict1 = {"a": 1, "b": 2} 
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [47]:
"""
Q7. Given two sets:
python
set1 = {1, 2, 3, 4} 
set2 = {3, 4, 5, 6} 
Write a program to find:
• The union of both sets.
• The intersection of both sets.
• The difference between set1 and set2.
"""
set1 = {1, 2, 3, 4} 
set2 = {3, 4, 5, 6} 
print(set1)
print(set2)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [49]:
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6}

In [51]:
intersection = set1.intersection(set2)
print(intersection)

{3, 4}

In [53]:
difference = set1.difference(set2)
print(difference)

{1, 2}

In [57]:
"""
Q8. Write a program to remove duplicates from a list using a set.
numbers = [1, 2, 2, 3, 4, 4, 5]
"""
numbers2 = [1, 2, 2, 3, 4, 4, 5]
set2 = set(numbers2)
print(set2)

{1, 2, 3, 4, 5}

In [ ]:
"""
Q9. Given a list of dictionaries:
students = [{"name": "Alice", "age": 21}, {"name": "Bob", "age": 20}, {"name": "Charlie", "age": 22}] 
Write a program to:
• Sort the list by age in ascending order.
• Extract all names into a separate list.
"""

In [61]:
students2 = [{"name": "Alice", "age": 21}, {"name": "Bob", "age": 20}, {"name": "Charlie", "age": 22}]
sortedage = sorted(students2, key=lambda x: x["age"])
print(sortedage)

[{'name': 'Bob', 'age': 20}, {'name': 'Alice', 'age': 21}, {'name': 'Charlie', 'age': 22}]

In [81]:
sortednames = [students2["name"] for students2 in students2]
print(sortednames)

['Alice', 'Bob', 'Charlie']